<div class="rh-service-catalog-core-service" data-row-height-id="core-service" data-field-key="core-service">
    <strong class="rh-service-catalog-label">Core Services:</strong><br>
    {{#each this}}
        <wa-badge variant="{{variant}}" size="small" data-filter-name="core-service" data-filter-key="{{label}}" style="font-size: var(--wa-font-size-xs);" pill>
            {{label}}
        </wa-badge>
    {{/each}}
</div>
